@model AppSettings
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>Десериализация конфигурации в ASP.NET Core</h1>
    <h4>Десериализация конфигурации с валидацией (вариант IOptions)</h4>
</div>
<div>
    <p>
        Класс ClientConfig, отображение Заголовка
         = @Model.clientConfig.Value
    </p>
</div>